#!/bin/sh

## localhost -> localhost(0.0.0.0) <- localhost (localhost: acecls or mac)
#USER_F=username
#IP_F_B=localhost
#IP_F_I=localhost

## localhost -> localhost(0.0.0.0) <- localhost (localhost: acecls or mac)
# frontend username
USER_F=username
# frontend node IP-address from backend node
IP_F_B=localhost
# frontend node IP-address from interactive node 
IP_F_I=localhost

# localhost port in backend node for SSH Portforwarding
PORT_B_SSHL=10332
# frontend port waiting for backend node
PORT_F_B_NSTDIO=30332
# frontend port waiting for interactive node
PORT_F_I_NSTDIO=30333
# localhost port in interactive node for SSH Portforwarding
PORT_I_SSHL=10333

SSH=ssh

LD_LIBRARY_PATH=$HOME/local/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH
